body {
  font-family: 'Roboto', sans-serif;
  display: flex; 
  align-items: center; 
  justify-content: center;
  height: 100vh;
  background-color: #023047;
}

button {
  background: none;
  color: #219ebc;
  border: 2px solid;
  border-radius: 10px;
  padding: 1em 2em; 
  font-size: 1em;
  transition: all 0.2s;
  cursor: pointer; 
 
}

button:hover {
  border-color: #c7f9cc;
  color: #fefae0;
  box-shadow: 0 0.5em 0.5em -0.4em #c7f9cc;
  transform: translateY(-0.25em)
  
}